@model LoginViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Login</h2>

<form method="post">
    <div asp-validation-summary="All" class="error"></div>
    <table>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /><span asp-validation-for="Email" class="error"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password" /><span asp-validation-for="Password" class="error"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>

</form>