@{
    ViewData["Title"] = "Echo";
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Echo" asp-route-word="Echo" asp-route-count="10">Echo 10</a></li>
        <li><a asp-controller="Home" asp-action="Echo" asp-route-word="Hello!" asp-route-count="20">Hello! 20</a></li>
        <li><a asp-controller="Home" asp-action="Echo" asp-route-word="Goodbye!" asp-route-count="50">Goodbye! 50</a></li>
    </ul>
</nav>

@*
    REPLACE THIS COMMENT SECTION WITH YOUR UNORDERED LIST
*@
