@{
    ViewData["Title"] = "Fibonacci";
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<ul id="fibonacci">
    @{ 
        int firstN = 0;
        int secondN = 1;
        int nextN = 1;
        while (true)
        {
            nextN = firstN + secondN;
            if (nextN >= (int)ViewData["max"])
            {
                break;
            }
            else
            {
            <li>@nextN</li>
                firstN = secondN;
                secondN = nextN;
                nextN = firstN + secondN;
                }
            }
        }
</ul>