@{
    ViewData["Title"] = "FizzBuzz";
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="FizzBuzz" asp-route-number="20">20</a></li>
        <li><a asp-controller="Home" asp-action="FizzBuzz" asp-route-number="50">50</a></li>
        <li><a asp-controller="Home" asp-action="FizzBuzz" asp-route-number="100">100</a></li>
    </ul>
</nav>

<ul id="fizzbuzz">
    @{
        for (int i = 1; i <= (int)ViewData["number"]; i++)
        {
            if (i % 15 == 0)
            {
        <li class="fizzbuzz">FizzBuzz!</li>
            }
            else if (i % 3 == 0)
            {
        <li class="fizz">Fizz!</li>
            }
            else if (i % 5 == 0)
            {
        <li class="buzz">Buzz!</li>
            }
            else
            {
        <li>@i</li>
            }
        }
     }
</ul>