@{
    ViewData["Title"] = "Index";
}

<img id="logo" src="~/images/1920px-Star_wars2.svg.png" alt="Star Wars logo" />
<p>
    Welcome to the unofficial and completely-incomplete Star Wars Films site!  You can spend an entire afternoon (if you are very, very slow about it) browsing around our
    extensive library of information and fun facts about Star Wars films.
</p>
@*
        *** For the Asides: ***
        <div>
            <h3>Did you know...</h3>
            <p>
                Sound designer Ben Burtt developed the lightsaber sound by using a combination of a 35mm movie projector
                and the sound caused when a microphone cable is passed by a television set.
            </p>
        </div>
        <div>
            <h3>Did you know...</h3>
            <p>George Lucas stated that Han Solo was originally intended to be an alien, and Luke Skywalker a girl.</p>
            <p> They were eventually developed into the fabulous characters we know and love.</p>
        </div>



        *** For the About Page: ***
        <p>
            The Star Wars franchise depicts the adventures of characters "A long time ago in a galaxy far, far away", in which humans and many species of
            aliens (often humanoid) co-exist with robots, or 'droids', who may assist them in their daily routines; space travel between planets is
            common due to hyperspace technology.
        </p>
        <p>
            A mystical power known as 'the Force' is described in the original film as "an energy field created by all living things ... [that] binds the
            galaxy together." Through training and meditation, those whom "the Force is strong with" are able to perform various superpowers (such as telekinesis,
            precognition, telepathy, and manipulation of physical energy). The Force is wielded by two major knighthood orders at conflict with each other: the Jedi,
            peacekeepers of the Old Republic ruthlessly hunted by Imperial authorities, who act on the light side of the Force through non-attachment and arbitration,
            and the Sith, ancient enemies of the galactic democracy, who use the dark side by manipulating fear and aggression. While Jedi Knights can be numerous, the
            Dark Lords of the Sith (or 'Darths') are intended to be limited to two: a master and their apprentice.
        </p>
*@
