:root {
    --color1:yellow;
    --color2: lightblue;
  }

* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: flex-start; */
    
    /* align-content: flex-end;
    height: 100%; */

}

section {
  border: 1px solid darkblue;
  margin: 10px;
  padding: 5px;
  flex-basis: 300px;
  flex-grow: 1;
}

#section1{
  background-color: var(--color1);
}

#section2{
  background-color: var(--color2);
}

#section3{
  background-color: var(--color1);
}

#section4{
  background-color: var(--color2);
}

#section5{
  background-color: var(--color1);
}

#section6{
  background-color: var(--color2);
}

#section7{
  background-color: var(--color1);
}



