body{
    width: 1000px;
}
#main {
    margin: 1rem 0;
    width: 800px;
}

#main div.box {
    border: 1px black solid;
    border-radius: 6px;
    padding: 1rem;
    margin: 10px;
}

#main div.box p {
    margin: 20px;
}

#main h3 {
    display: inline-block;
}

#main h4 {
    font-size: 1rem;
}

#heading1 {
    cursor: pointer;
}