@model FilmSearchVM
@{
    ViewData["Title"] = "Search";
}

<form method="get" asp-controller="Films" asp-action="SearchResult">
    <table>
        <tr>
            <td><label asp-for="MinLength">Minimum Length:</label></td>
            <td><input type="text" asp-for="MinLength" /></td>
            <td><label asp-for="MaxLength">Maximum Length:</label></td>
            <td><input type="text" asp-for="MaxLength" /></td>
            <td><label asp-for="Genre"></label></td>
            <td><select asp-for="Genre" asp-items="Model.GenreList"></select></td>
            <td><input type="submit" value="Search" /></td>
        </tr>
    </table>
</form>


<partial name="_FilmList" model="Model.Films" />
