<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
    <aside>
        @* TODO: Add a RenderSection call here...*@
    </aside>
</body>
</html>
