@{
    ViewData["Title"] = "Greeting";
    string firstName = "Mike";
    string lastName = "Morel";
}

<h2>Greeting</h2>

<p>
    @if (DateTime.Now.Hour < 12)
    {
        <span>Good morning</span>
    }
    else
    {
        <span>Good afternoon</span>
    }
    , @firstName @lastName!
</p>

@for(int i = 0; i < 10; i++)
{
    <p>@firstName @lastName</p>
}

@for (int r = 0, g = 255; r <= 255; r += 15, g -= 15)
{
    <p style="color: rgb(@r, @g, 128);">Hello @firstName</p>
}


