
@{
    ViewData["Title"] = "Index";
    string name = "Mike";
}

<h2>Index</h2>
<p>Welcome, @name, to our new site!  We are learning Razor, so this might be a little rough to start.</p>
<p>@Layout</p>
