@model IList<Film>
@{
    ViewData["Title"] = "Index";
}

<h2>Some Star Wars Films</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Year</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Film film in Model)
        {
            <tr>
                <td><a asp-controller="Films" asp-action="Details" asp-route-id="@film.Id">@film.Name</a></td>
                <td>@film.YearReleased</td>
            </tr>
        }
    </tbody>
</table>

