@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="account" asp-action="login" method="post">
    <table>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td>
                <input type="email" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" class="btn btn-primary" />
            </td>
        </tr>
    </table>

</form>