@{
    ViewData["Title"] = "Recipes Galore!";
}
    <h1>@ViewData["Title"]</h1>
    <p>What do you feel like eating today?</p>
    @* Include the Partial View that allows the user to select a preferred cuisine *@
    <partial name="_Preferences" />
