<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>    
    @{ 
        // TODO 03: Add a nav bar and logo to the top of every page 
    }
    @RenderBody()
</body>
</html>
