<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home page</a></li>
            <li><a asp-controller="Home" asp-action="Greeting">Greeting</a></li>
        </ul>
    </nav>

    @RenderBody()
</body>
</html>
